{% extends 'base.html.twig' %}
{% block title %}
Confirmation de votre commande

{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <div class="progress mb-1 mt-2">
        <div class="progress-bar width-100 bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" >Etape 4 - Fin</div>
    </div>
    <div class="card mt-1">
        <div class="card-header text-center alert-success">
            Votre commande a bien été enregistrée
        </div>
        <div class="card-body mb-2">
            <h5 class="card-title">Les informations de votre commande</h5>
            <ul class="list-unstyled card-text text-left">
                <li>Quantité des billets acheté: {{ booking.quantity}}</li>
                <li>Réference de votre commande : {{ booking.refStripe }}</li>
                <li>L'adresse mail à laquelle les billets sont envoyés : {{ booking.email }}</li>
                <li>Jour de votre visite : {{ booking.visitDate|date('d/m/Y') }}</li>
            </ul>
            <a href="{{ path('home') }}" class="btn btn-dark btn-lg btn-block">Revenir à la page d'accueil</a>
        </div>
    </div>
    <br>
{% endblock %}


